.index-page {
  div {
    box-sizing: border-box;
  }

  .head-box {
    width: 100%;
  }

  .content-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1220px;
    margin: 0 auto;
    margin-top: 20px;

    .left-content {
      width: 910px;

      .chart-area {
        // height: 440px;
        border-radius: 8px;
        padding: 18px 20px;
        box-shadow: 1px 1px 20px 0 rgba(183, 183, 188, .3);

        // border: 1px solid #ccc;
        .header-box {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 16px;

          .title {
            font-size: 21px;
          }
        }
      }

      .promotion-card-area {
        margin-top: 20px;
      }

      .product-area {
        margin-top: 20px;
      }
    }

    .right-content {
      width: 288px;

      .account-area {
        height: auto;
      }

      .index-banner-area {
        height: 150px;
        margin-top: 20px;
      }

      .product-news-area {
        height: auto;
        margin-top: 20px;
      }
    }
  }

  .foot-box {
    width: 100%;
    margin-top: 20px;
  }

  .setting-btn {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 5px;
    position: fixed;
    right: 20px;
    top: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}